.green {
    color: green;
}

.red {
    color: red;
}

.black {
    color: black;
}

.overview {
    padding: 5px 5px;
    margin: 0 10px 0 0;
    border: 1px solid grey;
    display: inline-block;
}

.overview-table-tr-col-label {
    width: 100px;
}

.overview-table-tr-col-data {
    width: 100px;
}